@import "tailwindcss";

@media print {
  header, #exercise-selector, button {
    display: none !important;
  }
  body {
    background-color: white !important;
    color: black !important;
  }
  .max-w-7xl {
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}
